<section id="showcase">
    <div class="container">
        <div class="content">
            <h1>Administrator Office</h1>
            <div class="admin-menu">
                <NavLink class="btn btn-theme" href="/users">Users Management</NavLink>
                <NavLink class="btn btn-theme" href="/courses">Courses Management</NavLink>
                <NavLink class="btn btn-theme" href="/admins">Subscribers Management</NavLink>
                <NavLink class="btn btn-theme" href="/subscribers">Admins Management</NavLink>
            </div>
        </div>   
    </div>
</section>